<h1>Edit Pizza Order</h1>

<form action="/pizzas/<%= @pizza.id %>" method="post">
 <label>
 First Name:
   <input type="text" name="first_name" value="<%= @pizza.first_name() %>" >
 </label>

 <label>
 Last Name:
   <input type="text" name="last_name" value="<%= @pizza.last_name() %>">
 </label>

 <label>Select a pizza:
  <select name="topping">
    <option value = "Pepperoni">Pepperoni</option>
    <option value = "Margherita">Margherita</option>
    <option value= "Spicy Italian">Spicy Italian</option>
  </select>
 </label>

 <label>Quantity:
   <input type="number" name="quantity" value="<%= @pizza.quantity() %>">
 </label>
 <input type='submit' value="Update">
</form>