

  <h1 id ="page_title"> Pizza Orders</h1>
<div class= "content_box">
   <% for pizza in @pizzas %>
      <div class = "order">
       <p><strong>Name:</strong> <%= pizza.pretty_name() %></p>
       <p><strong>Order:</strong> <%= pizza.quantity %> x <%= pizza.topping %> pizza(s)</p>
       <p id = "details_link"> <a href="/pizzas/<%= pizza.id %>">Click for more detail</a></p>
       </div>
  <% end %>
</div>