<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
  <body>

<!-- NAVIGATION -->
    <nav>
      <ul>
        <ol> 
           <a href="/pizzas">Pizza Orders</a>
        </ol>
        <ol>
           <a href="/pizzas/new">New Pizza</a>
        </ol>
    
      </ul>
    </nav>

    <!-- YIELD -->
    <%= yield %>


  </body>
</html>