<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href= "/style.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

  <title>Pizza Shop</title>
</head>

  <body>

<!-- NAVIGATION -->
    <nav>
      <ul>
        <ol> 
           <a href="/pizzas">Pizza Orders</a>
        </ol>
        <ol>
           <a href="/pizzas/new">New Pizza</a>
        </ol>
    
      </ul>
    </nav>

    <!-- div space -->
    <div id="spacer"></div>


    <!-- YIELD -->
    <%= yield %>


  </body>
</html>