
<h1 id ="page_title">Order a Pizza</h1>

<div class = "content_box">

  <form action="/pizzas" method="post">
    <label>
      First name: 
      <input type= "text" name="first_name" value = "eg. Michelangelo" />

    </label>
    <br /><br />
    <label>
      Last name:
      <input type = "text" name="last_name" />
    </label> 
    <br /><br />
    <label>
      Select a pizza: 
      <select name="topping">
        <option value = "Pepperoni">Pepperoni</option>
        <option value = "Margherita">Margherita</option>
        <option value= "Spicy Italian">Spicy Italian</option>
      </select>
    </label>
    <br /><br />
    <label>
      Quantity:
      <input type="number" name="quantity" />
    </label>
    <br /><br />
    <input type="submit" value="Order Pizza" class="submit_button" />
  </form>

</div>